.primary_btn {
  padding: 18px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  min-height: 20px;
  justify-content: center;
  cursor: pointer;
   
}
.outline_btn {
  padding: 18px 10px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  min-height: 20px;
  width: 100%;
  justify-content: center;
}

